# Logs and outputs
work/
logs/
tmp/
*.log
*.tmp

# Bioinformatics outputs
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bcf
*.fastq.gz
*.fq.gz
*.pdf
*.html
*.json

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local configs
config/my_run_config.sh
